.text{
    text-align: center;
    text-decoration: solid;
    text-shadow: beige;
}
.body{
    background-color: beige;
}
.different_colors{
    width: 100px;
    margin: auto;
}
*{box-sizing: border-box;}
.Learning_colors{
    background-color: blue;
    height: 500px;
    width: 1900px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    border: none;
    padding: 10px;
}
*{box-sizing: border-box;}
.Learning_animals{
    background-color: red;
    height: 500px;
    width: 1900px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    border: none;
    padding: 10px;
}
*{box-sizing: border-box;}
.Learning_clothes{
    background-color: green;
    height: 500px;
    width: 1900px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    border: none;
    padding: 10px;
}
*{box-sizing: border-box;}
.Learning_transportation{
    background-color: yellow;
    height: 500px;
    width: 1900px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    border: none;
    padding: 10px;
}
.navigation_bar{
    background-color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.navigation_bar:hover {
    font-family: sans-serif;
}
.myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: chartreuse;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 30px;
    font-size: 18px;
}
.myBtn:hover {
    background-color: #555;
    cursor: grab;
}

*{box-sizing: border-box}
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}
.mySlides {
    display: none;
}
.prev, .next {
    cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover{
    background-color: rgba(0,0,0,0.8);
}
.ctext {
    color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.numbertext{
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.dot{
    cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover{
    background-color: #717171;
}
.fade{
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade{
    from {opacity: .4}
    to {opacity: 1}
}